/*公用*/
.comWidth{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.leftArea{
	float: left;
}
.rightArea{
	float: right;
}
.hide{
	display: none;
}
.show{
	display: block;
}

/*topBar*/
.topBar{
	height: 31px;
	background-color: #F7F7F7;
	line-height: 31px;
}
.collection{
	background: url(../images/icon/collection.jpg) left center no-repeat;
	padding-left: 19px;
	font-weight: bold;
}
.topBar a:hover{
	color: red;
}
/*logoBar*/
.logoBar{
	height: 85px;
	background-color: #1D7AD9;
}
.logo{
	padding-left: 41px;
	padding-top: 13px;
}
/*search*/
.search_box{
	width: 430px;
	padding-top: 23px;
	padding-left: 185px;
}
.search_text{
	width: 350px;
	height: 35px;
	line-height: 35px\9;/*css hack \9代表所有的IE浏览器*/
	padding: 0 5px;
	background-color: white;
}
.search_btn{
	width: 70px;
	height: 35px;
	font-size: 14;
	font-family: "Microsoft YaHei","微软雅黑";
	background-color: #FF8C00;
	color: #FFFFFF;
}
/*购物车*/
.shopCar{
	width: 145px;
	height: 35px;
	background-color: #FF8C00;
	margin-top: 23px;
	margin-right: 59px;

	font-size: 14px;
	font-family: "Microsoft YaHei" "微乳雅黑";
	color: #FFFFFF;
	line-height: 35px;
}
.shopText{
	height: 100%;
	width: 87px;
	border-right: #E27A00 solid 1px;
	background: url(../images/icon/shaoIcon.jpg) 10px center no-repeat;
	text-indent: 40px;/*首行缩进*/
}
/*87 + 1 + 27 + 1 + 29 = 145;*/
.shopNum{
	width: 27px;
	height: 35px;
	border-left: #FF9c01 solid 1px;
	background: url(../images/icon/sj.jpg) 33px center no-repeat;
	text-align: right;
	padding-right: 29px;
}

/*导航*/
.navBox{
	height: 35px;
	background-color: #1369C0;
	color: #FFFFFF;
}
.shopClass{
	width: 190px;
	position: relative;
}
.shopClass h3{
	line-height: 35px;
	text-align: center;
}
.shopClass i{
	width: 11px;
	height: 7px;
	overflow: hidden;
	background: url(../images/icon/down.jpg) left center no-repeat;
	display: inline-block;
	margin-left: 11px;
}
.nav,.shopClass{
	font-family: "Microsoft YaHei", "微软雅黑";
}
.nav{
	line-height: 35px;
}
.nav li{
	float: left;
}
.nav a{
	height: 35px;
	display: inline-block;
	padding: 0 35px;
	color: #FFFFFF;
}
.nav .active{
	background-color: #4593FD;
}

/*商品弹出列表*/
.shopClass_show{
	background-color: #4593FD;
	position: absolute;
	left: 0;
	top: 35px;
	width: 100%;
}
.shopClass_item{
	padding: 14px 10px;
	border-bottom: #3487F2 solid 1px;
	border-top: #5AA1FE solid 1px;
}
.shopClass_item dt{
	height: 22px;
	background: url(../images/icon/shop_sj.jpg) right center no-repeat;
}
.shopClass_item .b h3{
	font:14px/1 "Microsoft YaHei", "微软雅黑";
}
.shopClass_item a{
	color: #FFFFFF;
}
.shopClass_item .aLink{
	width: 48px;
	height: 20px;
	background: url(../images/icon/aLink_bg.png) left center no-repeat;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	text-decoration: underline;
}
/*shopClass_item active 状态*/
.shopClass_active{
	background-color: #fff;
	border-left: #4593FD solid 1px;
}
.shopClass_active dt{
	background: none;
}
.shopClass_active a{
	color: #000;
}
.shopClass_active .aLink{
	color: #fff;
	text-decoration: none;
}

/*弹出的菜单*/
.shopClass_list{
	width: 568px;
	/*height: 378px;*//*让他自适应子视图的高度*/
	border:#ccc solid 1px;
	position: absolute;
	left: 190px;
	top: 35px;
	/*background: red;*/
}
.shopClass_count{
	padding: 0 20px;
}
.shopList_item{
	padding: 10px 0;
	border-bottom: #CCC solid 1px;
}
.shopList_item dt{
	color: #4b87d9;
	line-height: 24px;
	font-weight: bold;
	height: 24px;
}
.shopList_item dd{
	padding-left: 68px;
	line-height: 24px;
	margin-top: -24px;/*相当于上移24px与dt同级*/
}
.shopList_item dd a{
	margin-right: 12px;
}
.shopList_links{
	padding: 15px 0;
}
.shopList_links a{
	color: #fff;
	background-color: #2785E6;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	display: inline-block;
	padding: 0 14px 0 8px;
	margin-right: 10px;
}
.shopList_links span{
	width: 11px;
	height: 7px;
	background: url(../images/icon/shop_sj.jpg) left center no-repeat;
	display: inline-block;
	margin-left: 7px;
}

/*banner部分*/
.banner{
	margin-bottom: 15px;
}
.banner_bar{
	float: right;
	position: relative;
	overflow: hidden;
}
.imgBox{
	position: absolute;
	left: 0;
	top: 0;
}
.imgBox li{
	float: left;
}
.imgBox img{
	display: block;
}
.imgNum{
	position: absolute;
	left: 0;
	bottom: 15px;
	width: 100%;
	text-align: center;
}
.imgNum a{
	width: 20px;
	height: 5px;
	overflow: hidden;
	background-color: #fff;
	display: inline-block;
	margin: 0 3px;
}
.imgNum .active{
	background-color: #ff7700;
}
.banner_big,.banner_big img{
	width: 810px;
	height: 326px;
}
.banner_big .imgBox{
	width: 1620px;
	height: 326px;
}
.banner_sm,.banner_sm img{
	width: 190px;
	height: 400px;
}
.banner_sm .imgBox{
	width: 380px;
	height: 400px;
}

/*商品标题*/
.shopTit{
	height: 44px;
	font-family: "Microsoft YaHei","微软雅黑";
	line-height: 44px;
	margin-bottom: 15px;
}
.shopTit h3{
	font-size: 24px;
	float: left;
	font-weight: normal;
	padding-left: 15px;
}
.icon{
	width: 44px;
	height: 44px;
	background: url(../images/icon/shopIcon.jpg) left top no-repeat;
	float: left;
}
.more{
	float: right;
	font-family: "宋体";
}
.more:hover{
	text-decoration: underline;
}

/*商品列表*/
.shopList .leftArea{
	width: 190px;
}
.shopList .rightArea{
	width: 810px;
}






