ul {
	padding-left: 0;
	font-family: Helvetica, Arial, sans-serif;
}
.staggered-transition {
	transition: all .5s ease;
	overflow: hidden;
	margin: 0;
	height: 20px;
}
.staggered-enter, .staggered-leave {
	opacity: 0;
	height: 0;
}