body{
border:1px solid red;/*宽度 样式 颜色*/
width:800px;
height:1000px;
margin: 0 auto;/*上下内边框为0，左右内边框居中*/
}
.s1{
width:150px;
height:152px
border:1px solid blue;
margin-top:10px;
margin-left:50px;
border: dotted;
border-top:1px solid red;
}

.s1 img{
width:40px;
margin-left:5px;
margin-top:5px;
border: dashed;
}