.s1{
background-color: pink;
display:block;/*所有引用了s1的元素都已快元素显示*/
}
/*div这个快元素不管宽度是多少，他总是占满一行*/
.s2{
background-color: gray;
width:100px;
}
.s3{
background-color: pink;
display:inline;/*所有引用了s3的元素都已行内元素显示*/
}
.s4{
background-color: green;
}
/*块元素和行列元素可以互相转换,如s1里面*/

