<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WKWebView的使用及js交互.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D6F107A1C228E7800486542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6F10931C228E7900486542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6F109E1C228E7900486542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
