/*
* @Author: huangchengdu
* @Date:   2017-02-14 14:40:13
* @Last Modified by:   huangchengdu
* @Last Modified time: 2017-02-14 16:52:54
*/
.box,.box-reflect{
	width: 150px;
	float: left;
	margin-right: 40px;
}
img{
	width: 100%;
	display: block;
}
.box1 img{
	-webkit-box-reflect:below 0 -webkit-linear-gradient(top,rgba(250,250,250,0),rgba(250,250,250,.0) 20%,rgba(250,250,250,.3));
}

.box2 img{
	-webkit-box-reflect:below 0 url('./star.png');
}


.box-reflect {
    position: relative;
}

.box-reflect img {
    width: 100%;
    height: 100%;
}

.box-reflect:before,
.box-reflect:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    content: "";
}


.box-reflect:before {
    background: url(./example.jpg) no-repeat;
    background-size: 100% 100%;
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    opacity: 0.5;
    filter: alpha(opacity='50');
}

.box-reflect:after {
    background-image: -moz-linear-gradient(bottom, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0) 90%);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 10%, rgb(0, 0, 0) 30%);
    background-image: -webkit-linear-gradient(bottom, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0) 90%);
    filter: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColor=0, EndColorStr=#000000);
}